.font-size-inherit{
    font-size: inherit;
}
.font-size-initial{
    font-size: initial;
}

.font-size-318{
    font-size: 10px;
	line-height: 18.5px;
}

.font-size-428{
    font-size: 12.5px;
	line-height: 20px;
}

.font-size-754{
    font-size: 15px;
	line-height: 21.5px;
}

.font-size-471{
    font-size: 17.5px;
	line-height: 23px;
}

.font-size-731{
    font-size: 20px;
	line-height: 24.5px;
}

.font-size-441{
    font-size: 22.5px;
	line-height: 26px;
}

.font-size-166{
    font-size: 25px;
	line-height: 27.5px;
}

.font-size-438{
    font-size: 27.5px;
	line-height: 29px;
}

.font-size-629{
    font-size: 30px;
	line-height: 30.5px;
}
