.height-inherit {
    height: inherit;
}

/* 25% */
.height-pc-139{
    height: 25%;
}
.max-height-pc-139{
    max-height: 25%;
}
.min-height-pc-139{
    min-height: 25%;
}

/* 50% */
.height-pc-895{
    height: 50%;
}
.max-height-pc-895{
    max-height: 50%;
}
.min-height-pc-895{
    min-height: 50%;
}

/* 75% */
.height-pc-765{
    height: 75%;
}
.max-height-pc-765{
    max-height: 75%;
}
.min-height-pc-765{
    min-height: 75%;
}

/* 100% */
.height-pc-553{
    height: 100%;
}
.max-height-pc-553{
    max-height: 100%;
}
.min-height-pc-553{
    min-height: 100%;
}

/* - - - - - - - - - - */

/* 25vh */
.height-vh-139{
    height: 25vh;
}
.max-height-vh-139{
    max-height: 25vh;
}
.min-height-vh-139{
    min-height: 25vh;
}

/* 50vh */
.height-vh-895{
    height: 50vh;
}
.max-height-vh-895{
    max-height: 50vh;
}
.min-height-vh-895{
    min-height: 50vh;
}

/* 75vh */
.height-vh-765{
    height: 75vh;
}
.max-height-vh-765{
    max-height: 75vh;
}
.min-height-vh-765{
    min-height: 75vh;
}

/* 100vh */
.height-vh-553{
    height: 100vh;
}
.max-height-vh-553{
    max-height: 100vh;
}
.min-height-vh-553{
    min-height: 100vh;
}

/* - - - - - - - - - - */

/* 0px */
.height-px-721{
    height: 0px;
}
.max-height-px-721{
    max-height: 0px;
}
.min-height-px-721{
    min-height: 0px;
}

/* 6.25px */
.height-px-545{
    height: 6.25px;
}
.max-height-px-545{
    max-height: 6.25px;
}
.min-height-px-545{
    min-height: 6.25px;
}

/* 12.5px */
.height-px-428{
    height: 12.5px;
}
.max-height-px-428{
    max-height: 12.5px;
}
.min-height-px-428{
    min-height: 12.5px;
}

/* 18.75px */
.height-px-682{
    height: 18.75px;
}
.max-height-px-682{
    max-height: 18.75px;
}
.min-height-px-682{
    min-height: 18.75px;
}

/* 25px */
.height-px-166{
    height: 25px;
}
.max-height-px-166{
    max-height: 25px;
}
.min-height-px-166{
    min-height: 25px;
}

/* 50px */
.height-px-361{
    height: 50px;
}
.max-height-px-361{
    max-height: 50px;
}
.min-height-px-361{
    min-height: 50px;
}

/* 75px */
.height-px-646{
    height: 75px;
}
.max-height-px-646{
    max-height: 75px;
}
.min-height-px-646{
    min-height: 75px;
}

/* 100px */
.height-px-421{
    height: 100px;
}
.max-height-px-421{
    max-height: 100px;
}
.min-height-px-421{
    min-height: 100px;
}

/* 200px */
.height-px-357{
    height: 200px;
}
.max-height-px-357{
    max-height: 200px;
}
.min-height-px-357{
    min-height: 200px;
}

/* 250px */
.height-px-527{
    height: 250px;
}
.max-height-px-527{
    max-height: 250px;
}
.min-height-px-527{
    min-height: 250px;
}

/* 500px */
.height-px-155{
    height: 500px;
}
.max-height-px-155{
    max-height: 500px;
}
.min-height-px-155{
    min-height: 500px;
}

/* 750px */
.height-px-655{
    height: 750px;
}
.max-height-px-655{
    max-height: 750px;
}
.min-height-px-655{
    min-height: 750px;
}
