/* 6.25px */
.margin-545{
    margin: 6.25px;
}
.margin-top-545{
    margin-top: 6.25px;
}
.margin-bottom-545{
    margin-bottom: 6.25px;
}
.margin-left-545{
    margin-left: 6.25px;
}
.margin-right-545{
    margin-right: 6.25px;
}
.margin-top-lh-545{
    margin-top: 0px;
}
.margin-bottom-lh-545{
    margin-bottom: 0px;
}

/* 12.5px */
.margin-428{
    margin: 12.5px;
}
.margin-top-428{
    margin-top: 12.5px;
}
.margin-bottom-428{
    margin-bottom: 12.5px;
}
.margin-left-428{
    margin-left: 12.5px;
}
.margin-right-428{
    margin-right: 12.5px;
}
.margin-top-lh-428{
    margin-top: 6.25px;
}
.margin-bottom-lh-428{
    margin-bottom: 6.25px;
}

/* 25px */
.margin-166{
    margin: 25px;
}
.margin-top-166{
    margin-top: 25px;
}
.margin-bottom-166{
    margin-bottom: 25px;
}
.margin-left-166{
    margin-left: 25px;
}
.margin-right-166{
    margin-right: 25px;
}
.margin-top-lh-166{
    margin-top: 18.75px;
}
.margin-bottom-lh-166{
    margin-bottom: 18.75px;
}

/* 31.25px */
.margin-699{
    margin: 31.25px;
}
.margin-top-699{
    margin-top: 31.25px;
}
.margin-bottom-699{
    margin-bottom: 31.25px;
}
.margin-left-699{
    margin-left: 31.25px;
}
.margin-right-699{
    margin-right: 31.25px;
}
.margin-top-lh-699{
    margin-top: 25px;
}
.margin-bottom-lh-699{
    margin-bottom: 25px;
}

/* 50px */
.margin-361{
    margin: 50px;
}
.margin-top-361{
    margin-top: 50px;
}
.margin-bottom-361{
    margin-bottom: 50px;
}
.margin-left-361{
    margin-left: 50px;
}
.margin-right-361{
    margin-right: 50px;
}
.margin-top-lh-361{
    margin-top: 43.75px;
}
.margin-bottom-lh-361{
    margin-bottom: 43.75px;
}

/* 75px */
.margin-646{
    margin: 75px;
}
.margin-top-646{
    margin-top: 75px;
}
.margin-bottom-646{
    margin-bottom: 75px;
}
.margin-left-646{
    margin-left: 75px;
}
.margin-right-646{
    margin-right: 75px;
}
.margin-top-lh-646{
    margin-top: 68.75px;
}
.margin-bottom-lh-646{
    margin-bottom: 68.75px;
}

/* 100px */
.margin-421{
    margin: 100px;
}
.margin-top-421{
    margin-top: 100px;
}
.margin-bottom-421{
    margin-bottom: 100px;
}
.margin-left-421{
    margin-left: 100px;
}
.margin-right-421{
    margin-right: 100px;
}
.margin-top-lh-421{
    margin-top: 93.75px;
}
.margin-bottom-lh-421{
    margin-bottom: 93.75px;
}
