/* 6.25px */
.padding-545{
    padding: 6.25px;
}
.padding-top-545{
    padding-top: 6.25px;
}
.padding-bottom-545{
    padding-bottom: 6.25px;
}
.padding-left-545{
    padding-left: 6.25px;
}
.padding-right-545{
    padding-right: 6.25px;
}

/* 12.5px */
.padding-428{
    padding: 12.5px;
}
.padding-top-428{
    padding-top: 12.5px;
}
.padding-bottom-428{
    padding-bottom: 12.5px;
}
.padding-left-428{
    padding-left: 12.5px;
}
.padding-right-428{
    padding-right: 12.5px;
}

/* 25px */
.padding-166{
    padding: 25px;
}
.padding-top-166{
    padding-top: 25px;
}
.padding-bottom-166{
    padding-bottom: 25px;
}
.padding-left-166{
    padding-left: 25px;
}
.padding-right-166{
    padding-right: 25px;
}

/* 50px */
.padding-361{
    padding: 50px;
}
.padding-top-361{
    padding-top: 50px;
}
.padding-bottom-361{
    padding-bottom: 50px;
}
.padding-left-361{
    padding-left: 50px;
}
.padding-right-361{
    padding-right: 50px;
}

/* 75px */
.padding-646{
    padding: 75px;
}
.padding-top-646{
    padding-top: 75px;
}
.padding-bottom-646{
    padding-bottom: 75px;
}
.padding-left-646{
    padding-left: 75px;
}
.padding-right-646{
    padding-right: 75px;
}

/* 100px */
.padding-421{
    padding: 100px;
}
.padding-top-421{
    padding-top: 100px;
}
.padding-bottom-421{
    padding-bottom: 100px;
}
.padding-left-421{
    padding-left: 100px;
}
.padding-right-421{
    padding-right: 100px;
}

/* 150px */
.padding-574{
    padding: 150px;
}
.padding-top-574{
    padding-top: 150px;
}
.padding-bottom-574{
    padding-bottom: 150px;
}
.padding-left-574{
    padding-left: 150px;
}
.padding-right-574{
    padding-right: 150px;
}
