.flex{
    display: flex;
}
.vertical-center{
    display: flex;
	align-items: center;
}
.horizontal-center{
    display: flex;
	justify-content: center;
}
.horizontal-center-start{
    display: flex;
	justify-content: center;
	align-items: flex-start;
}
.flex-space-between{
    display: flex;
    justify-content: space-between
}

.grid{
    display: grid;
}

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}

.background-cover{
    background-size: cover !important;
	background-position: center !important;
}

.viewport-height-pc-553{
    min-height: -webkit-calc(100% - 75px);
}
.viewport-height-pc-765{
    min-height: -webkit-calc(75% - 75px);
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}
/*vertical-align: top;
z-index*/


/* 0px */
.top-px-721{
    top: 0px;
}
.right-px-721{
    right: 0px;
}
.bottom-px-721{
    bottom: 0px;
}
.left-px-721{
    left: 0px;
}

/* 25px */
.top-px-166{
    top: 25px;
}
.right-px-166{
    right: 25px;
}
.bottom-px-166{
    bottom: 25px;
}
.left-px-166{
    left: 25px;
}

/*z-index*/
.z-index-minus-1{
    z-index: -1;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-10{
    z-index: 10;
}
.z-index-99{
    z-index: 99;
}

/* flex-wrap */
.flex-wrap{
    flex-wrap: wrap;
}
