/* 25% */
.width-pc-139{
    width: 25%;
}
.max-width-pc-139{
    max-width: 25%;
}
.min-width-pc-139{
    min-width: 25%;
}

/* 50% */
.width-pc-895{
    width: 50%;
}
.max-width-pc-895{
    max-width: 50%;
}
.min-width-pc-895{
    min-width: 50%;
}

/* 75% */
.width-pc-765{
    width: 75%;
}
.max-width-pc-765{
    max-width: 75%;
}
.min-width-pc-765{
    min-width: 75%;
}

/* 100% */
.width-pc-553{
    width: 100%;
}
.max-width-pc-553{
    max-width: 100%;
}
.min-width-pc-553{
    min-width: 100%;
}

/* - - - - - - - - - - */

/* 6.25px */
.width-px-545{
    width: 6.25px;
}
.max-width-px-545{
    max-width: 6.25px;
}
.min-width-px-545{
    min-width: 6.25px;
}

/* 12.5px */
.width-px-428{
    width: 12.5px;
}
.max-width-px-428{
    max-width: 12.5px;
}
.min-width-px-428{
    min-width: 12.5px;
}

/* 18.75px */
.width-px-682{
    width: 18.75px;
}
.max-width-px-682{
    max-width: 18.75px;
}
.min-width-px-682{
    min-width: 18.75px;
}

/* 25px */
.width-px-166{
    width: 25px;
}
.max-width-px-166{
    max-width: 25px;
}
.min-width-px-166{
    min-width: 25px;
}

/* 50px */
.width-px-361{
    width: 50px;
}
.max-width-px-361{
    max-width: 50px;
}
.min-width-px-361{
    min-width: 50px;
}

/* 75px */
.width-px-646{
    width: 75px;
}
.max-width-px-646{
    max-width: 75px;
}
.min-width-px-646{
    min-width: 75px;
}

/* 100px */
.width-px-421{
    width: 100px;
}
.max-width-px-421{
    max-width: 100px;
}
.min-width-px-421{
    min-width: 100px;
}

/* 250px */
.width-px-527{
    width: 250px;
}
.max-width-px-527{
    max-width: 250px;
}
.min-width-px-527{
    min-width: 250px;
}

/* 500px */
.width-px-155{
    width: 500px;
}
.max-width-px-155{
    max-width: 500px;
}
.min-width-px-155{
    min-width: 500px;
}

/* 750px */
.width-px-655{
    width: 750px;
}
.max-width-px-655{
    max-width: 750px;
}
.min-width-px-655{
    min-width: 750px;
}

/* 1000px */
.width-px-257{
    width: 1000px;
}
.max-width-px-257{
    max-width: 1000px;
}
.min-width-px-257{
    min-width: 1000px;
}
