header{
    height: 75px; /* sets header height */
}
    /*navigation*/
    #desktop-logo, #mobile-logo{
        position: absolute; /* positions logo absolutley */
        left: 0px; /* positions logo */
        z-index: 2; /* brings logo to the front of mobile menu */
        cursor: pointer; /* changes pointer on hover */
    }
    #mobile-logo.open{
        position: fixed; /* fixes logo in position on scroll when mobile menu open */
    }
        #logo{
            vertical-align: top; /* aligns logo at top to remove space at bottom */
            height: 75px; /* sets logo height */
        }
        #arrow{
            vertical-align: top; /* aligns arrow at top to remove space at bottom */
            width: 12.5px; /* sets arrow width */
            margin: 31.25px 0px 31.25px 12.5px; /* sets arrow margin */
        }
        #arrow.open{
            -webkit-transform: rotate(180deg); /* rotates arrow when mobile menu open */
        }
            #mobile-menu{
                z-index: 1; /* brings mobile menu to the front content */
                position: fixed; /* fixes mobile menu in position on scroll */
                height: 0px; /* hides mobile menu when not selected */
                overflow: hidden; /* hides links when mobile menu closed */
            }
            #mobile-menu.open{
                height: 100%; /* reveals mobile menu when selected */
            }
                #desktop-menu-option{
                    float: right; /* positions links to the right of the page */
                    line-height: 75px; /* centers links vertically in header */
                }

/*footer*/
footer{
    display: grid; /* creates grid in footer */
}
    #footer-div-1{
        grid-area: footer-div-1;
    }
    #footer-div-2{
        grid-area: footer-div-2;
    }
    #footer-div-3{
        grid-area: footer-div-3;
    }
    #footer-div-4{
        grid-area: footer-div-4;
    }
    #footer-div-5{
        grid-area: footer-div-5;
    }
    #footer-div-6{
        grid-area: footer-div-6;
    }
    #footer-div-7{
        grid-area: footer-div-7;
    }
        #social-icon{
            vertical-align: top; /* aligns social icons at top to remove space at bottom */
        }

/*media queries*/
@media screen and (min-width: 0px) and (max-width: 600px){
    html{
        font-size: 0.6px; /* shrinks H1 to 30px */
    }
    h1{
        line-height: 30.5px; /* adjusts H1 line height for 30px */
    }
    #desktop-logo, #desktop-menu-option{
        display: none; /* removes desktop logo div and links */
    }
    footer{
        grid-template-columns: 1fr; /* makes footer grid 1 column */
        grid-template-areas:
        "footer-div-1"
        "footer-div-4"
        "footer-div-2"
        "footer-div-5"
        "footer-div-3"
        "footer-div-6"
        "footer-div-7";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    html{
        font-size: 0.8px; /* shrinks H1 to 40px */
    }
    h1{
        line-height: 36.5px; /* adjusts H1 line height for 40px */
    }
    #desktop-logo, #desktop-menu-option{
        display: none; /* removes desktop logo div and links */
    }
    footer{
        grid-template-columns: 1fr; /* makes footer grid 1 column */
        grid-template-areas:
        "footer-div-1"
        "footer-div-4"
        "footer-div-2"
        "footer-div-5"
        "footer-div-3"
        "footer-div-6"
        "footer-div-7";
    }
}

@media screen and (min-width: 900px){
    html{
        font-size: 1px; /* makes H1 40px */
    }
    h1{
        line-height: 42.5px; /* adjusts H1 line height for 50px */
    }
    #mobile-logo, #mobile-menu{
        display: none; /* removes mobile logo div and mobile menu */
    }
    footer{
        grid-template-columns: 12.5% 1fr 1fr 1fr 12.5%; /* makes footer grid 3 columns with 12.5% padding either side */
        grid-template-areas:
        ". footer-div-1 footer-div-2 footer-div-3 ."
        ". footer-div-4 footer-div-5 footer-div-6 ."
        "footer-div-7 footer-div-7 footer-div-7 footer-div-7 footer-div-7";
    }
}
