#how-it-works-1-center, #how-it-works-2-center, #how-it-works-3-center{
    display: grid;
}

    /* how & why */
    #how-it-works-1-center-1{
        grid-area: how-it-works-1-center-1;
    }
    #how-it-works-1-center-2{
        grid-area: how-it-works-1-center-2;
    }
    #how-it-works-2-center-1{
        grid-area: how-it-works-2-center-1;
    }
    #how-it-works-2-center-2{
        grid-area: how-it-works-2-center-2;
    }
    #how-it-works-3-center-1{
        grid-area: how-it-works-3-center-1;
    }
    #how-it-works-3-center-2{
        grid-area: how-it-works-3-center-2;
    }

@media screen and (min-width: 0px) and (max-width: 600px){
    /* how & why */
    #how-it-works-1-center{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px auto;
        grid-template-areas:
        "how-it-works-1-center-1"
        "."
        "how-it-works-1-center-2";
    }
    #how-it-works-2-center{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px auto;
        grid-template-areas:
        "how-it-works-2-center-2"
        "."
        "how-it-works-2-center-1";
    }
    #how-it-works-3-center{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px auto;
        grid-template-areas:
        "how-it-works-3-center-1"
        "."
        "how-it-works-3-center-2";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    /* how & why */
    #how-it-works-1-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-1-center-1 . how-it-works-1-center-2";
    }
    #how-it-works-2-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-2-center-1 . how-it-works-2-center-2";
    }
    #how-it-works-3-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-3-center-1 . how-it-works-3-center-2";
    }
}

@media screen and (min-width: 900px){
    /* how & why */
    #how-it-works-1-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-1-center-1 . how-it-works-1-center-2";
    }
    #how-it-works-2-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-2-center-1 . how-it-works-2-center-2";
    }
    #how-it-works-3-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "how-it-works-3-center-1 . how-it-works-3-center-2";
    }
}
